.employees table {
    background: rgb(54,69,79);
    background: linear-gradient(90deg, rgba(54,69,79,1) 0%, rgba(129,133,137,1) 50%, rgba(54,69,79,1) 100%);
}

.employees th {
    color: white;
    font-weight: bold;
}

.employees td {
    background-color: white;
    text-align: center;
}

.add {
    display: flex;
    flex-wrap: wrap;
}

.add {
    justify-content: center;
}

.fa-plus-circle {
    color: rgb(227, 45, 83);
}

.fa-plus-circle:active {
    color: rgba(227, 45, 83, 0.5);
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .employees {
        width: 55%;
    }

    .employees table {
        border-radius: 5px;
        border: 2px solid rgba(54, 69, 79, 1);
        width: 100%;
    }

    .fa-plus-circle {
        font-size: 30px;
    }
}

@media screen and (max-width: 1279px) {
    .employees table {
        border: 5px solid rgba(54, 69, 79, 1);
        border-radius: 10px;
        margin-left: 10%;
        width: 80%;
    }

    .fa-plus-circle {
        font-size: 50px;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

}

/* iPad Air */
@media screen and (max-width: 820px) {
    .employees table {
        border-width: 3px;
        margin-left: 5%;
        width: 90%;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .fa-plus-circle {
        font-size: 40px;
    }
}

/* iPhone 14 Pro Max */
@media screen and (max-width: 430px) {
   
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {

}