.add {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-plus-circle {
    color: rgb(227, 45, 83);
}

.fa-plus-circle:active {
    color: rgba(227, 45, 83, 0.5);
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .fa-plus-circle {
        font-size: 30px;
    }
}

@media screen and (max-width: 1279px) {
    .fa-plus-circle {
        font-size: 50px;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .fa-plus-circle {
        font-size: 40px;
    }
}