.task {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 2vh;
}

.task input,
.task textarea {
    border: 1px rgb(227, 45, 83) solid;
    border-radius: 10px;
    width: 80%;
}

.task-delete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 94%;
    width: 6%;
}

.task-delete:active {
    opacity: 0.4;
}

.task-submit-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-submit-button button {
    background-color: rgb(227, 45, 83);
    border: 1px solid rgb(227, 45, 83);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.task-submit-button button:active {
    opacity: 0.7;
}

select {
    border-radius: 10px;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .tasks {
        width: 35%;
    }

    .task {
        background-color: rgba(227, 45, 83, 0.1);
        border: 1px solid rgba(227, 45, 83, 0.1);
        margin-left: 5%;
        width: 90%;
    }

    select {
        background-color: white;
        border: 1px solid rgb(227, 45, 83);
        border-radius: 10px;
    }
}

@media screen and (max-width: 1279px) {
    .task {
        background-color: white;
        margin-left: 25%;
        width: 50%;
    }

    select {
        background-color: rgba(227, 45, 83, 0.1);
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

}

/* iPad Air */
@media screen and (max-width: 820px) {
    
}

/* Surface Duo */
@media screen and (max-width: 540px) {

}

/* iPhone 14 Pro Max */
@media screen and (max-width: 430px) {
    
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {

}